* {
  margin: 0px;
}

.title {
  display: block;
  text-align: center;
  height: 50px;
  width: 300px;
  margin: 120px 570px 20px;
  /*margin-top: 120px;*/
  /*margin-left: 570px;*/
  /*margin-right: 570px;*/
}

hr {
  display: block;
  /*margin: 20px 670px 80px;*/
  margin-left: 670px;
  margin-right: 670px;
  border: none;
  background-color: #ee7919;
  height: 4px;
  width: 100px;
}

.proposes {
  display: block;
  height: 260px;
  width: 1540px;
  margin-bottom: 120px;
  /*margin: 120px 570px 20px;*/
}

.support,
.communicate,
.book,
.reviews {
  display: inline-block;
  text-align: center;
}
.support img {
  margin: 80px 115px 50px 215px;
}

.support p {
  height: 28px;
  width: 140px;
  margin-left: 180px;
  margin-right: 40px;
}

.communicate img {
  margin: 90px 110px 55px 115px;
}

.communicate p {
  height: 28px;
  width: 296px;
  margin-left: 45px;
  margin-right: 40px;
}

.book img {
  margin: 95px 110px 65px 110px;
}

.book p {
  height: 28px;
  width: 168px;
  margin-left: 60px;
  margin-right: 45px;
}

.reviews img {
  margin: 85px 205px 60px 110px;
}

.reviews p {
  height: 28px;
  width: 225px;
  margin-left: 55px;
  margin-right: 130px;
}
